*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

/* regola generale per i buttons */
button{
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}


/* regola generale  */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* regole generali ul li*/
ul li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 2%;
}


/* container sezioni */
.container{
    margin: 10% 15%;
    height: fit-content;
    position: relative;
}


/* header */
header{
    background-color: white;
    height:25vh;
    padding: 1% 0;
    /* margin: 1% 0; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

}

/* colonne */
header .row{
    margin: 0 2%;
    position: relative;
    top: 0;
    left: 0;
}

header .colsx{
    float: left;
    width: 40%;
    margin-right: 10%;
   
}


header .coldx{
    float: left;
    width: 40%;
    margin-left: 10%;
    
}

/* logo e nav bar */
header{
    background-color: white;
    height: min-content;
    padding: 1% 0;
    /* margin: 1% 0; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

}

/* colonne */
header .row{
    margin: 0 2%;
}

header .colsx{
    float: left;
    width: 40%;
    margin-right: 10%;
    /* debug */
    /* height: 100px; */
    /* background-color: red; */
}


header .coldx{
    float: left;
    width: 40%;
    margin-left: 10%;
    /* debug */
    /* height: 100px; */
    /* background-color: grey; */
}

/* logo e nav bar */
.logo{
    margin: 4px 2px;
    padding: 8px 13px;
}

header nav ul li{
    text-decoration: none;
    list-style-type: none;
    display:inline-block;

}

/* .navbar{
    max-width: 100%;
    min-width: 20%;
} */

.navbar li{
    /* debug */
    /* border: 1px solid black; */
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    width: max-content;
    
}

li button{
    text-transform: capitalize;
}



/* main */

main{
    margin-top: 105px;
}


/* jumbotron */

.jumbotron{
    background-color: #b4d0e7;
    height: 675px;
    width: 100%;

}
.jumbotron .cont{
    margin: 0 10%;
    /* position: relative; */
    /* background-color: aquamarine; */
}

/* text*/
.jumbotron h1 {
    font-size: 72px;
    padding-top: 5%;
    margin: 0 2%;
}

/* colonna sinistra con testo */
.jumbotron .colsx{
    float: left;
    width: 35%;
    margin-right: 2%;
    margin-top: 5%;
    height: min-content;
    
}

.jumbotron .text{
    width: 100%;
    /* height: fit-content; */
    /* padding: 2% 0; */
    margin: 2% 2%;
    text-align: left;
}

.jumbotron button{
    margin: 5% 5%;
    display: block;

}

.jumbotron p{
    width: fit-content;
    margin-bottom: 5%;
    margin-left: 5%;
}

.fa-arrow-down{
    display: block;
    width: fit-content;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    /* border: 2px solid black; */
}

/* colonna destra img */
.jumbotron .coldx{
    float: left;
    width: 60%;
    height: max-content;
    margin-top: 5%;

}

.jumboimg{
    width: 100%;
    height: 100%;
}

.jumboimg img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}




/* row prezzi */
.prezzo .row{
    margin-top: 2%;
}

.prezzo .colsx{
    float: left;
    width: 30%;
    height: fit-content;
    border:1px solid grey;
}

.prezzo .colmiddle{
    float: left;
    width: 30%;
    height: fit-content;
    margin: 0 5%;
    border:1px solid grey;
}

.prezzo .coldx{
    float: left;
    width: 30%;
    height: fit-content;
    border:1px solid grey;
}

.prezzo ul{
    margin-left: 3%;

}

.prezzo .text {
    text-align: center;
    padding: 2% 2%;
    border-bottom:1px solid gray;
}



.fa-check{
    color: #0061ff;

}

hr{
    width: 20%;
    margin-left: 5%;
}

.enterprise{
    margin-top: 5%;
    border: 1px solid gray;
} 

.enterprise .colsx{
    float: left;
    width: 80%;
 
}

.enterprise .coldx{
    float: left;
    width: 20%;   
}


.enterprise .text {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 1% 1%;
}


.list{
    line-height: 200%;
}

span{
    font-weight: 100;
}

/* img partner due colonne */
.partner{
    margin-top: 5%;
}

.partner .colsx{
    float: left;
    width: 50%;
}

.partner .colsx img{
    object-fit: cover;
    width: 100%;
}

.partner .coldx{
    float: left;
    padding: 2% 6%;
    width: 50%;
    line-height: 2;
}

.partner .coldx button{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 5%;
}

/* section operazioni */

.operazioni{
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}
.operazioni h2{
    margin: 3% 0;
}

.operazioni .colsx{
    float:left;
    width: 28%;
    height: fit-content;
    margin-bottom: 8%;
}

.operazioni .colmiddle{
    float: left;
    width: 28%;
    margin: 0 8%;
    height: fit-content;
    margin-bottom: 8%;
}

.operazioni .coldx{
    float: left;
    width: 28%;
    height: fit-content;
    margin-bottom: 8%;
}

/* immagini dimensioni */

.operazioni .imagedim{
    width: auto;
    height: 30%;
    object-fit: contain;   
}

.imagedim img{
    width: 100%;
    height: 100%
}

.operazioni .text p{
    margin-top: 5%;
}


/* sezione loghi box colorati */
.card{
    width: 100%;
    height: fit-content;
}

.card .text{
    width: 45%;
    margin: 2% 15%;
    height: fit-content;
    background-color: green;
    /* position: relative; */
}

.card .text p{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5%;
}



.fullwidth .square{

    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
}

  /* misure colonne */

.fullwidth .coldx{
    float: right;
    width: 30%;
    height: 20%;
    border: 1px solid black;   
}


/* colonna centrale */
.fullwidth .colmiddle{
    float: left;
    width: 40%;
    height: fit-content;
    background-color: lightgray;
}

.containercolonna{
    margin: 8% 8%;
}
.logobrand{
    width: 20%;
    height: 10%;
    margin: 5% 0;
    
}

.containercolonna hr{
    width: 10%;
    color: gray;
    margin-left: 0;
}

.logobrand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textbrand{
    margin: 5% 0;

}

/* colonna sinistra */
.fullwidth .colsx {
    float: left;
    width: 30%;
    height: fit-content;
    border: 1px solid black;
    /* padding: 5% 5%; */
   
}

.client{
    width: 230px;
    height: 250px;
    float: left;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    padding:2% 2%;
}

/* sinistra */
#designit{
    background-image: url("../img/designit.svg");
    background-color: lightgreen;
}

#arizona{
    background-image: url("../img/arizona_state_university.svg");
    background-color: rgb(105, 18, 18);
}


#florida{
    background-image: url("../img/university_of_florida.svg");
    background-color: rgb(16, 96, 172);
}

#topps{
    background-image: url("../img/topps.svg");
    background-color: red;
}

/* destra */

#world{
    background-image: url("../img/world_bicycle_relief.svg");
    background-color: rgb(129, 19, 19);
}

#hearst{
    background-image: url("../img/hearst_corp.svg");
    background-color: lightblue;
}

#lonely{
    background-image: url("../img/lonely_planet.svg");
    background-color: rgb(29, 29, 207);
}

#clear{
    background-image: url("../img/clear_channel.svg");
    background-color: rgb(179, 182, 10);
}

/* sezione full width blu */
.fullwidth .prova{
    background-color: #b4d0e7;
    width: 100%;
    height: 50vh;
}
.colsxtext{
    float: left;
    width: 60%; 
    font-size: 50px;
    font-weight: bolder;
    color: rgb(97, 15, 15);
    margin-top: 10%;

    
}

.coldxbtn{
    float: left;
    width: 25%;
    margin-left: 15%;
    margin-top: 10%;
    
}
.coldxbtn button{
    background-color: white;
    color: black;
}



/* sezione f.a.q. */

.domande p{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5%;
}
.domande li{
    border-bottom: 1px solid lightgray;
    padding: 3% 0; 
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.fa-chevron-down{
    float: right;
    margin-right: 3%;
}



/* footer */

footer{
    background-color: black;
    color: white;
}

.listafooter{
    float: left;
    width: 20%;
    margin-top: 2%;
}