*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

/* regola generale per i buttons */
button{
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}


/* regola generale  */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* regole generali ul li*/
ul li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 2%;
}


/* container sezioni */
.container{
    margin: 10% 15%;
    height: fit-content;
    position: relative;
}


/* header */
header{
    background-color: white;
    height:25vh;
    padding: 1% 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

}

/* colonne */
header .row{
    margin: 0 2%;
    position: relative;
    top: 0;
    left: 0;
}

header .colsx{
    float: left;
    width: 50%;  
}


header .coldx{
    float: right;
    width: 50%;    
}

/* logo e nav bar */
header{
    background-color: white;
    height: min-content;
    padding: 1% 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

}

/* colonne */
header .row{
    margin: 0 2%;
}

header .colsx{
    float: left;
    width: 40%;
    margin-right: 10%;
}


header .coldx{
    float: left;
    width: 40%;
    margin-left: 10%;
}

/* logo e nav bar */
.logo{
    margin: 4px 2px;
    padding: 8px 13px;
}

header nav ul li{
    text-decoration: none;
    list-style-type: none;
    display:inline-block;

}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    text-decoration: underline;
}

.navbar li{

    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    width: max-content;
    
}

.coldx .navbar{
    margin-top: 1%;
}

/* main */

main{
    margin-top: 105px;
}


/* jumbotron */

.jumbotron{
    background-color: #b4d0e7;
    height: 675px;
    width: 100%;

}
.jumbotron .cont{
    margin: 0 10%;

}

/* text*/
.jumbotron h1 {
    font-size: 72px;
    padding-top: 5%;
    margin: 0 2%;
}

/* colonna sinistra con testo */
.jumbotron .colsx{
    float: left;
    width: 35%;
    margin-right: 2%;
    margin-top: 5%;
    height: min-content;    
}

.jumbotron .text{
    width: 100%;
    margin: 2% 2%;
    text-align: left;
}

.jumbotron button{
    margin: 5% 5%;
    display: block;
}

.jumbotron p{
    width: fit-content;
    margin-bottom: 5%;
    margin-left: 5%;
}

.fa-arrow-down{
    display: block;
    width: fit-content;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;

}

/* colonna destra img */
.jumbotron .coldx{
    float: left;
    width: 60%;
    height: max-content;
    margin-top: 5%;

}

.jumboimg{
    width: 100%;
    height: 100%;
}

.jumboimg img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


/* row prezzi */

.abbonamento{
    margin: 4% 0;
}

.prezzo .row{
    margin-top: 2%;
}

.prezzo .colsx{
    float: left;
    width: 30%;
    height: 100vh;
    border:1px solid rgba(163, 163, 163, 0.589);
}

.prezzo .colmiddle{
    float: left;
    width: 30%;
    height: 100vh;
    margin: 0 5%;
    border:1px solid rgba(163, 163, 163, 0.589);
}

.prezzo .coldx{
    float: left;
    width: 30%;
    height: 100vh;
    border:1px solid rgba(163, 163, 163, 0.589);
}

.prezzo ul{
    margin-left: 3%;

}

.prezzo .text {
    text-align: center;
    padding: 2% 2%;
    border-bottom:1px solid rgba(163, 163, 163, 0.589);
}

/* check blu */
.fa-check{
    color: #0061ff;
}



hr{
    width: 20%;
    margin-left: 5%;
}

.enterprise{
    margin-top: 5%;
    border: 1px solid rgba(163, 163, 163, 0.589);
} 

.enterprise .colsx{
    float: left;
    width: 80%; 
}

.enterprise .coldx{
    float: left;
    width: 20%;   
}


.enterprise .text {
    text-align: center;
    border-bottom: 1px solid rgba(163, 163, 163, 0.589);
    padding: 1% 1%;
}


.list li{
    line-height: 2.5;
}

span{
    font-weight: 100;
}

/* img partner due colonne */
.partner{
    margin-top: 5%;
}

.partner .colsx{
    float: left;
    width: 50%;
}

.partner .colsx img{
    object-fit: cover;
    width: 100%;
}

.partner .coldx{
    float: left;
    padding: 2% 6%;
    width: 50%;
    line-height: 2;
}

.partner .coldx button{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 5%;
}

/* section operazioni */

.operazioni{
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}
.operazioni h2{
    margin: 3% 0;
}

.operazioni .colsx{
    float:left;
    width: 28%;
    height: fit-content;
    margin-bottom: 8%;
}

.operazioni .colmiddle{
    float: left;
    width: 28%;
    margin: 0 8%;
    height: fit-content;
    margin-bottom: 8%;
}

.operazioni .coldx{
    float: left;
    width: 28%;
    height: fit-content;
    margin-bottom: 8%;
}

/* immagini dimensioni */

.operazioni .imagedim{
    width: auto;
    height: 30%;
    object-fit: contain;   
}

.imagedim img{
    width: 100%;
    height: 100%
}

.operazioni .text p{
    margin-top: 5%;
}


/* sezione loghi box colorati */
.card{
    width: 100%;
    height: auto;
}

.card .text{
    width: 40%;
    margin: 2% 15%;
    height: max-content
}

.card .text p{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5%;
}

.card .text a{
    color: #0061ff;
    font-size: 18px;
}

.square{ 

    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
}


/* colonna destra */
.fullwidth .coldx{
    float: left;
    width: 30%;
    height: 50vh;
}
/* colonna sinistra */
.fullwidth .colsx {
    float: left;
    width: 30%;
    height: 50vh;   
}

/* colonna centrale */
.fullwidth .colmiddle{
    float: left;
    width: 40%;
    height: 50vh;
    background-color: lightgray;
}

.containercolonna{
    margin: 8% 8%;
}
.logobrand{
    width: 25%;
    height: 15%;
    margin: 10% 0;
    
}

.logobrand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.containercolonna hr{
    width: 10%;
    color: gray;
    margin-left: 0;
}
.textbrand{
    margin: 10% 0;

}

#lead{
    margin-bottom: 10%;


}

/* div quadrati loghi */
.client{
    width: 50%;
    height: 50%;
    float: left;
}

.client img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 20% 20%;
    filter: invert(1);  
}


/* sinistra  */
#designit{    
    background-color: #5d2c64;
}

#arizona{    
    background-color: #9ef7d4;
}


#florida{    
    background-color: #ff6c31;    
}

#topps{    
    background-color: #00e3e3;    
}

/* destra */

#world{    
    background-color: #2affe0;   
}

#hearst{    
    background-color: #4b2f18;    
}

#lonely{    
    background-color: #f2db7e;   
}

#clear{    
    background-color: #0027cf;    
}





/* sezione full width blu */

.fullwidth .prova{
    background-color: #b4d0e7;
    width: 100%;
    height: 50vh;
}

.containerprova{
    margin: 0 15%;
    height: fit-content;
}
.colsxtext{
    float: left;
    width: 60%; 
    font-size: 50px;
    font-weight: bolder;
    color: rgb(97, 15, 15);
    margin-top: 12%;   
}

.coldxbtn{
    float: left;
    width: 25%;
    margin-left: 15%;
    margin-top: 12%;
    
}
.coldxbtn button{
    background-color: white;
    color: black;
}



/* sezione f.a.q. */

.domande p{
    font-weight: 800;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5%;
}
.domande li{
    border-bottom: 1px solid lightgray;
    padding: 3% 0; 
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.fa-chevron-down{
    float: right;
    margin-right: 3%;
}



/* footer */

footer{
    background-color: black;
    color: white;
}

.listafooter{
    float: left;
    width: 20%;
    padding: 8% 2%;
    line-height: 2;
}
.listafooter h3{
    margin-bottom: 5%;
}

.listafooter li{
    font-size: 14px;
    margin: 0;
}

#line{
    color: white;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
}
.ita{
    margin: 5% 2%;
    padding-bottom: 2%;
    color: gray;
}

.ita span{
    padding: 0 1%;
}